.custom-container {
    max-width: 1920px;
}

.custom-title {
    font-weight: bold !important;
    font-size: 1.3rem !important;
    color: #000 !important;
    margin-right: 1em !important;
    text-decoration: none !important;
    border: none !important;
}

.custom-checkbox {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
}

.custom-service-item::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-flex; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    font-size: 1.5em;
}

.item-rating {
    padding-left: 0.1px;
}

.custom-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}