@model RentARoom.Web.ViewModels.SearchHotels.SearchIndexViewModel
@{
    ViewData["Title"] = "Search hotels by services";
}
<h1 class="mb-4 text-center">@ViewData["Title"]</h1>
@if (!Model.Services.Any())
{
<p> Nothing found.</p>
}
else
{
<form asp-action="List" method="get">
    <div class="d-flex flex-row  mb-4">
        @foreach (var service in Model.Services)
        {
            
            <div class="px-2 text-center">
                <input id="service_@service.Id"
                       type="checkbox"
                       name="Services"
                       value="@service.Id"
                       class="custom-checkbox"   />
                <label for="service_@service.Id">@service.Name</label>
            </div>
        }
    </div>

    <button class="btn btn-primary">Search</button>
</form>
}