@model RentARoom.Web.ViewModels.Hotels.AddHotelsInputViewModel
@{ this.ViewData["Title"] = "Add new hotel";
                var categoryItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key)); }

<h1 class="mb-4 text-center">@this.ViewData["Title"]</h1>

<form method="post" class="col-md-6 offset-md-3"
      enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group mb-2">
        <label asp-for="Image" class="pb-1"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Name" class="pb-1"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Town" class="pb-1"></label>
        <input asp-for="Town" class="form-control" />
        <span asp-validation-for="Town" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Address" class="pb-1"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Stars" class="pb-1"></label>
        <input asp-for="Stars" class="form-control" />
        <span asp-validation-for="Stars" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="CountRooms" class="pb-1"></label>
        <input asp-for="CountRooms" class="form-control" />
        <span asp-validation-for="CountRooms" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="CategoryId" class="pb-1"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="categoryItems"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Bed" class="pb-1"></label>
        <input asp-for="Bed" class="form-control" />
        <span asp-validation-for="Bed" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Capacity" class="pb-1"></label>
        <input asp-for="Capacity" class="form-control" />
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Price" class="pb-1"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Description" class="pb-1"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div id="ServicesContainer" class="mb-4">
        <div class="mb-2">
            <label asp-for="Services" class="pb-1"></label>
            <a class="btn btn-success" onclick="AddMoreServices()">+</a>
        </div>

        </div>
        <input type="submit" class="btn btn-primary" />
</form>
@*'Services[" + serviceIndex + "].Name'*@
@section Scripts{
    <script>
        var serviceIndex = 0;
        function AddMoreServices() {
            console.log("AddMoreServices")
            $("#ServicesContainer").append("<div class='mb-2'><label class='pb-1'>Service:</label> <input class='form-control' type='text' name='Services[" + serviceIndex + "].ServiceName'/></div>");
            serviceIndex++;
        }
    </script>
}