@model RentARoom.Web.ViewModels.ImagesHotelViewModel
@{ this.ViewData["Title"] = $"All images on  hotel {Model.Name}!"; }

<h1 class="mb-4 text-center">@this.ViewData["Title"]</h1>

<div class="row">

    @foreach (var image in Model.Images)
    {

<div class="col-md-6 col-lg-4 p-3">
    <div class="component">
        <div class="card">

            <img class="custom-image rounded" src="~/images/hotels/@image.Id.@image.Extension" alt="@Model.Name" />
        </div>
    </div>
</div>}
</div>